@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

:root {
  --red-color: #ff0000;
  --grey-color: #808080;
  --black-color: #000000;
  --white-color: #ffffff;
  --offwhite-color: #cecce1;
  --light-white-color: #a5a5ab;
  --orange-color: #f47405;
  --light-yellow: #ffe3ae;
  --darkorange: #ff5613;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 2.4rem;
}
h5 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
}

.banner-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(./assets/images/banner-5.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90rem;
  width: 100%;
}

.banner-text {
  color: var(--white-color);
  text-align: center;
}

.nav-item {
  font-size: 1.8rem;
  border-radius: 3rem;
}

.contact-btn {
  border-radius: 2rem;
  padding: 5px 20px;
  font-size: 15px;
  background-color: var(--darkorange);
  color: var(--white-color);
}

.about-btn {
  border-radius: 2rem;
  padding: 5px 40px;
  font-size: 15px;
  background-color: var(--darkorange);
  color: var(--white-color);
}
.banner-btn {
  border-radius: 2rem;
  padding: 5px 20px;
  font-size: 15px;
  background-color: var(--darkorange);
  color: var(--white-color);
}

@media (max-width: 360px) {
  .banner-text {
    width: 40%;
  }
  .banner-title {
    font-size: 2rem;
  }
}

.menu-list-img {
  width: 22%;
  margin-left: 2rem;
}

.menu-list-title {
  margin-left: 1rem;
}

.menu-list-item {
  text-decoration: none;
  padding: 2rem;
  color: var(--black-color);
}

.menu-ist-item:hover {
  background-color: var(--white-color);
  color: var(--orange-color);
}

.menu {
  background-color: var(--light-yellow);
}

.menu-text {
  padding-left: 3rem;
}

.menu-breakfast-img {
  height: 20vh;
  width: 78%;
  border-radius: 2rem;
}

.menu-breakfast-title {
  padding-left: 50px;
}

.menu-breakfast-description {
  color: var(--orange-color);
}

.menu-breakfast {
  padding-left: 170px;
}

@media (max-width: 989px) {
  .menu-breakfast {
    padding-left: 30px;
  }
}

.nav-link {
  color: var(--white-color);
}

.navbar-btn {
  border-radius: 2rem;
  padding: 4px 16px;
  font-size: 14px;
  background-color: var(--darkorange);
  color: var(--white-color);
}

.navbar-light .navbar-toggler {
  background-color: var(--white-color);
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--white-color);
  border-radius: 5rem;
}

.menu-card {
  background-color: var(--light-yellow);
  border: none;
}

.menu-card-img {
  border: 1px solid var(--black-color);
  border-radius: 2rem;
}

.header-text {
  color: var(--orange-color);
  font-weight: 600;
}

.menu-card-pricing {
  color: var(--orange-color);
}

.w-100 {
  height: 80vh;
}

.testimonial-card-image {
  border-radius: 10rem;
}

.testimonial-card {
  border: none;
}

.card-title {
  color: var(--orange-color);
  font-weight: bold;
}

.events {
  background-color: var(--light-yellow);
}

.events-img {
  border-radius: 1rem;
  height: 37rem;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: var(--white-color);
  color: var(--orange-color);
}

.fa-twitter {
  background: var(--white-color);
  color: var(--orange-color);
}

.fa-google {
  background: var(--white-color);
  color: var(--orange-color);
}

.fa-instagram {
  background: var(--white-color);
  color: var(--orange-color);
}

.navbar-brand {
  font-size: 3rem;
}

#about {
  background: linear-gradient(rgba(192, 192, 192, 0.75), rgba(74, 66, 66, 0.75)),
    url(./assets/images/banner-5.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

#contact {
  background: linear-gradient(rgba(34, 32, 32, 0.75), rgba(240, 227, 227, 0%)),
    url(./assets/images/banner-2.webp);

  background-repeat: no-repeat;
  background-size: cover;
}

.menu-card-title {
  font-size: 15px;
  font-weight: 900;
}

.bannerimage {
  background-image: url(./assets/images/banner-5.jpeg);
  background-size: cover;
}

.footer {
  background-color: #878181;
}
